@model IEnumerable<AzureSample.Context.Models.Person>

@{
    ViewBag.Title = "Upload files";
    Layout = "_Layout";
}


<h3>Choose file to upload</h3>
<form asp-action="Create" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" />
    <input type="submit" value="Upload" />
</form>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
        </tr>
    }
    </tbody>
</table>